.header {
  z-index: 100;

  &--fix {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.header__wrap {
  @include padding-left-right-mobile();

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__link {
  @include padding-link-header();

  &--logo {
    @media (min-width: $md) {
      width: 50%;
      padding-bottom: 5px;
    }
  }
}

.header__nav {
  @media (min-width: $md) {
    width: 100%;
  }
}

//.header__user {
//  @media (min-width: $md) {
//    width: 50%;
//  }
//}

.header__scroll {
  background-color: $default;
  animation: color-header 1s;
  // animation: color-nav-button 1s;

  .logo-text {
    color: $color-text;
  }

  .nav__link {
    color: $color-text;

    &:hover {
      color: $primary;
    }
  }
}

@keyframes color-header {
  from {
    background-color: rgba(0, 0, 0, 0.1);
  }

  to {
    background-color: $default;
  }
}