.process {
  background-image: url('../img/fon-0101.jpg');
  background-position: center;
  background-size: cover;

  &__wrap {
    min-height: 700px;
    @include padding-left-right-mobile();
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    padding-top: 125px;
    position: relative;
    width: 150px;
    min-height: 182px;
    //margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    color: $white;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      top: 0;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
      border: 5px solid $blue-border;
      background-color: $blue-common;

      @media (min-width: $lg) {
        box-sizing: border-box;
      }
    }
  }

  &__img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    fill: $color-text;
  }

  &__text {
    color: $color-text;
    font-family: FiraSans;
    font-weight: 500
  }
}
