.process {
  background-image: url('../img/fon-0101.jpg');
  background-position: center;
  background-size: cover;

  &__wrap {
    @include padding-left-right-mobile();
    padding-top: 50px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: $lg) {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &__item {
    padding-top: 125px;
    position: relative;
    width: 150px;
    min-height: 182px;

    margin-bottom: 30px;
    text-align: center;
    color: $white;
    box-sizing: border-box;

    @media (min-width: $lg) {
      width: 250px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      top: 0;
      left: 50%;
      transform: translatex(-50%);
      border-radius: 50%;
      border: 5px solid $blue-border;
      background-color: $blue-common;
    }
  }

  &__img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    fill: $color-text;

    &--phone {
      animation: change_fill 1s;
    }
  }

  &__text {
    color: $color-text;
    font-family: FiraSans;
    font-weight: 500;

    @media (min-width: $lg) {
      font-size: 20px;
    }
  }
}