.promo {
  background-image: url('../img/head_mob.webp');
  background-position: center;
  background-size: cover;

  @media (min-width: $lg) {
    background-image: url('../img/ext_top.webp');
  }

  &__wrap {
    @include padding-left-right-mobile();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;

    @media (min-width: $lg) {
      padding-top: 120px;
      padding-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media (min-width: $lg) {
      margin-bottom: 80px;
    }
  }

  &__list {
    margin-bottom: 40px;

    @media (min-width: $lg) {
      margin-bottom: 60px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @media (min-width: $md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &--center {
      justify-content: center;
    }

    @media (min-width: $md) {
      flex-grow: 2;
      margin-bottom: 0;
    }
  }

  &__text {
    color: $default;
    font-family: FiraSans;
    font-weight: 500;
    font-size: 16px;

    @media (min-width: $lg) {
      font-size: 26px;
    }
  }

  &__price {
    color: $red-commom;
    font-size: 22px;
    font-family: FiraSans;
    font-weight: 500;

    @media (min-width: $lg) {
      font-size: 26px;
    }
  }

  &__currency {
    font-size: 18px;
  }

  &__img {
    stroke: $default;

    margin-left: 20px;
  }

  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $md) {
      flex-grow: 1;
      justify-content: end;
    }
  }
}