@charset "UTF-8";

/**
 * Основные стили
 **/

html {

  color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration-skip: objects;
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: $bg-common;
}

img {
  max-width: 100%;
  height: auto;
}

img[alt] {
  font-size: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

*:hover {
  transition: all 0.2s ease 0s;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --transition: 0.155s ease-in;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-kute {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #2a2a2a;
  color: #2a2a2a;
  transition: border-color var(--transition);
  cursor: pointer;
}

.button-kute:hover {
  border-color: #e58000;
  color: #e58000;
}

.button-kute svg {
  transition: color var(--transition);
}